/mlops_env
/env2
/Python_Essentials_for_MLOps/project01/files
/Python_Essentials_for_MLOps/project01/__pycache__
/Python_Essentials_for_MLOps/project01/.pytest_cache
/Python_Essentials_for_MLOps/project02/tests/__pycache__
/Python_Essentials_for_MLOps/project02/tests/.pytest_cache
/Python_Essentials_for_MLOps/project03/__pycache__
/Python_Essentials_for_MLOps/project03/.pytest_cache